body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

#map {
    width: 80%;
    height: 80%;
}

.labels {
  color: white;
  background-color: red;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 10px;
  text-align: center;
  width: 30px;
  white-space: nowrap;
}