<!DOCTYPE html>
<html>
<head>
    <title>Fork&Spoon</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400" rel="stylesheet">
    <style>
        #outer-container {
            height: 100%;
            width: 100%;
            background-color: transparent;
        }

        #my-nav {
            height: 100%;
            width: 200px;
            background: rgba(0,0,0, 0.5);
            float: left;
            list-style-type: none;
            padding-left: 10px;
        }

        #my-content {
            height: 100%;
            width: auto;
            background-color: transparent;
        }

    </style>

</head>

<body>

    {% if "id" in session %}
    <div id="outer-container">
        <div id="my-nav">
            <li style="font-size:28px"><img src="/static/css/fork&spoon.png" style="width:30px; height:auto;"> <strong>Fork&Spoon</strong></li>
            <br>
            <li><a href="/profile/{{ session['id'] }}">Profile</a></li>
            <li><a href="/create_event">Create Events</a></li>
            <li><a href="/find_events">Find Events</a></li>
            <li><a href="/upcoming_events">Your Events</a></li>
            <li><a href="/logout">Logout</a>
        </div>
        <div id="my-content">
            {% for flash in get_flashed_messages() %}
                {{ flash }}
            {% endfor %}

            {% block content %}
                <p>HOMEPAGE</p>
            {% endblock %}
        </div>
    </div>
    {% endif %}




</body>
</html>