<!DOCTYPE html>
<html>
<head>
    <title>Food App</title>
    
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

</head>
<body>

Food Adventures |

{% if "id" in session %}
    <a href="/">Home</a> |
    <a href="/profile/{{ session['id'] }}">Your Profile</a> |
    <a href="/create_event">Create Events</a> |
    <a href="/find_events">Find Events</a> |
    <a href="/upcoming_events">Upcoming Events</a> |
    <a href="/logout">Logout</a>
{% else %}
    <a href="/login">Login</a> |
    <a href="/signup">Sign Up</a>
{% endif %}

<hr>

{% for flash in get_flashed_messages() %}
    {{ flash }}
{% endfor %}

{% block content %}
    DON'T FORGET TO PUT THE BODY!!!!
{% endblock %}

</body>
</html>