{% extends 'base.html'%}
{% block content %}

    <h1>Create Your Event</h1>

    <h3>1) Find a Place:</h3>
    <form action="/restaurant_query" method="POST">
        <div>    
            <label>City:
                <select name="city">
                {% for city in cities %}
                    <option value="{{city.city_name}}">{{ city.city_name }}</option>
                {% endfor %}
                </select>
            </label>
        </div>
        <p>AND/OR</p>
        <div>
            <label>Zipcode: (Note: If your zipcode doesn't match your city, zipcode will have higher priority.)
                <input type:"text" name="zipcode">
            </label>
        </div>
        <br>
        <div>
            <label>Category:
                <select name="term"> 
                {% for category in categories %}
                    <option value="{{category.food_type}}">{{ category.food_type }}</option>
                {% endfor %}
                </select>
            </label>
        </div>
        <br>
        <div>
            <label>Radius (max 40000 meters): (NEED TO CONVERT THIS TO 25 MILES MAX)
                <input type:"text" name="distance" required>
            </label>
        </div>
        <br>
        <div>
            <input type="submit" value="Submit My Event">
        </div>

    </form>

{% endblock %}