{% extends 'base.html'%}
{% block content %}

<style>

    #california {
        background: url(/static/css/california-cones2.jpg);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100%;
        width: 100%;
    }

</style>

    <div id="california" style="padding-left:230px;">
        <h1>Create Your Event</h1>

        <h3>2) Choose a place, date, and time:</h3>
        <h6>*Don't forget to check business hours before hand!</h6>

            <form action="/confirmation", method="POST">
                <div class="left-col">
                    <label>
                        {% for business in businesses%}
                            <input type="radio" name="business_url" value="{{business.url}}" required> {{loop.index}}. {{business.name}}<br>
                        {% endfor %}
                    </label>
                </div>
                <div class="right-col">
                    <div id="map" style="width: 300px; height: 265px"></div>
                    <br>
                    <div>
                        <label>Date:
                            <input type="text" name="date" id="date" required>
                        </label>
                    </div>
                    <div>
                        <label>Start Time:
                            <select name="start_time"> 
                            {% for time in times %}
                                <option value={{ time }}>{{ time }}</option>
                            {% endfor %}
                            </select>
                        </label>
                    </div>
                    <div>
                        <label>End Time:
                            <select name="end_time"> 
                            {% for time in times %}
                                <option value={{ time }}>{{ time }}</option>
                            {% endfor %}
                            </select>
                        </label>
                    </div>
                    <br>
                    <div>
                        <input type="hidden" name ="category_id" value="{{category_id}}">
                        <input type="submit" value="Create my event!">
                    </div>
                </div>
            </form>
         
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_KEY}}&callback=initMap"
    async defer></script>

    <script>
        var businessInfo = {};
        var businessNameList = {{business_name|tojson|safe}};
        var businessLat = {{business_lat|tojson|safe}};
        var businessLng = {{business_lng|tojson|safe}};
        var businessRating = {{business_rating|tojson|safe}};
        var businessReviews = {{business_reviews|tojson|safe}}
        var businessUrl = {{business_url|tojson|safe}};
        var businessAddress = {{business_address|tojson|safe}};


        // Creates business info object in one gigantic object
        businessNameList.forEach((businessName, index) => {
        businessInfo[businessName] = {
            lat: businessLat[index],
            lng: businessLng[index],
            rating: businessRating[index],
            reviews: businessReviews[index],
            url: businessUrl[index],
            address: businessAddress[index],
        }
        });

        var infoWindows = {};

        var map;
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                // zoom: 4,
                // center: myLatLng
                mapTypeControl: false,
                streetViewControl: false,
            });
            var bounds = new google.maps.LatLngBounds();
            Object.keys(businessInfo).forEach((businessName, index) => {

                var contentString = "<div>" + "<h4>" + businessName + "</h4>" + "</div>" + 
                    "<div></div>" + 
                    "<div>" + "<strong>Rating: </strong>" + businessInfo[businessName].rating + "</div>" +
                    "<div>" + "<strong>Reviews: </strong>" + businessInfo[businessName].reviews + "</div>" +
                    "<div>" + "<strong>Address: </strong>" + businessInfo[businessName].address + "</div>" +
                    "<div>" + "<a href =" + businessInfo[businessName].url + " style='font-size:12px; color:black;'><strong>See More On Yelp!</strong></a></div>"

                var infoWindow = new google.maps.InfoWindow({
                  content: contentString
                });
                var latitude = businessInfo[businessName].lat;
                var longitude = businessInfo[businessName].lng;

                infoWindows[businessName] = infoWindow;
                bounds.extend(new google.maps.LatLng(latitude, longitude));

                setTimeout(function() {
                    var marker = new google.maps.Marker({
                        position: {lat: latitude, lng: longitude},
                        map: map,
                        animation: google.maps.Animation.DROP,
                        title: businessName,
                        icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + (index + 1) + '|ed6a63|000000'
                    });

                    marker.addListener('click', function() {
                        Object.keys(infoWindows).forEach((businessName) => {
                            infoWindows[businessName].close();
                        });
                        infoWindow.open(map, marker);
                    });
                }, 100 * index);
            });
            map.fitBounds(bounds);
        }
    </script>


    <script>
    $( function() {
      $( "#date" ).datepicker({minDate: 1});
    } );
    </script>


{% endblock %}