{% extends 'base.html'%}
{% block content %}

    <h1>Create Your Event</h1>

    <h3>2) Choose a place, date, and time:</h3>

    <form action="/confirmation", method="POST">
        <div>
            <label>
                    {% for business in businesses%}
                        <input type="radio" name="business_url" value="{{business.url}}" required><a href="{{business.url}}">{{business.name}}</a> -  Ratings: {{business.rating}}  || Reviews: {{business.review_count}}  ||  {{', '.join(business.location.display_address)}}<br>
                        {# <input type="hidden" name ="business_name" value="{{business.name}}">
                        <input type="hidden" name ="business_rating" value="{{business.rating}}">
                        <input type="hidden" name ="business_location" value="{{', '.join(business.location.display_address)}}">
                        <input type="hidden" name ="business_review_count" value="{{business.review_count}}"> #}
                    {% endfor %}
            </label>
        </div>
        <div>
            <h6>*Don't forget to check business hours before hand!</h6>
            <label>Date:
                <input type="text" name="date" id="date" required>
            </label>
        </div>
        <br>
        <div>
            <label>Start Time:
                <select name="start_time"> 
                {% for time in times %}
                    <option value={{ time }}>{{ time }}</option>
                {% endfor %}
                </select>
            </label>
            <label>End Time:
                <select name="end_time"> 
                {% for time in times %}
                    <option value={{ time }}>{{ time }}</option>
                {% endfor %}
                </select>
            </label>
        </div>
        <br>
        <div>
            <input type="hidden" name ="category_id" value="{{category_id}}">
            <input type="submit" value="Create my event!">
        </div>
    </form>

    <div id="map" style="width: 100%; height: 100%"></div> 

    <script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_KEY}}&callback=initMap"
    async defer></script>

    <script>
        var businessInfo = {};
        var businessNameList = {{business_name|tojson|safe}};
        var businessLat = {{business_lat|tojson|safe}};
        var businessLng = {{business_lng|tojson|safe}};

        // Creates business info object in one gigantic object
        businessNameList.forEach((businessName, index) => {
        businessInfo[businessName] = {
            lat: businessLat[index],
            lng: businessLng[index],
        }
        });

        var infoWindows = {};

        var map;
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                // zoom: 4,
                // center: myLatLng
            });
            var bounds = new google.maps.LatLngBounds();
            Object.keys(businessInfo).forEach((businessName) => {

                var contentString = "<div>" + businessName + "</div>"

                var infoWindow = new google.maps.InfoWindow({
                  content: contentString
                });

                infoWindows[businessName] = infoWindow;

                var marker = new google.maps.Marker({
                    position: {lat: businessInfo[businessName].lat, lng: businessInfo[businessName].lng},
                    map: map,
                    title: businessName,
                  });
                bounds.extend(marker.getPosition());

                marker.addListener('click', function() {
                    Object.keys(infoWindows).forEach((businessName) => {
                        infoWindows[businessName].close();
                    });
                    infoWindow.open(map, marker);
                });
            });
            map.fitBounds(bounds);
        }
    </script>

    <script>
    $( function() {
      $( "#date" ).datepicker({minDate: 1});
    } );
    </script>


{% endblock %}