{% extends 'base.html' %}
{% block content %}

    <h1>Sign Up</h1>

    <form action="/signup" method="POST">
        <div>
            <label>First Name:
                <input type="text" name="first_name" required>
            </label>
        </div>

        <div>
            <label>Last Name:
                <input type="text" name="last_name" required>
            </label>
        </div>

        <div>
            <label>Email:
                <input type="text" name="email" required>
            </label>
        </div>

        <div>
            <label>Password:
                <input type="password" name="password" required>
            </label>
        </div>

        <div> 
            <input type="submit" value="Log In">
            <input type="hidden" name="user_id" value="{{user_id}}">
        </div>
    </form>

{% endblock %}