{% extends 'base.html' %}
{% block content %}

    <h1>Enter verification code:</h1>

    <form action="/submit_confirmation_code", method="POST">
        <div>
            <label>Verification Code:
                <input type="string" name="verification_code" minlength="4" maxlength="4" required>
            </label>
            <div> 
                <input type="submit" value="Submit">
                <input type="hidden" name="user_id" value="{{user_id}}">
                <input type="hidden" name="phone_number" value="{{phone_number}}">
            </div>
        </div>
    </form>

{% endblock %}